<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header-lecturer"></header>
<h3 class="col-6" th:text="${course.name}"></h3>
<div class="row">
    <div class="col-6">
        <h5>Activities</h5>
        <div th:replace="fragments :: activities-list"></div>
        <form action="#" th:action="@{'/courses/'+${courseId}+'/activities/create-activity'}" method="get">
            <button type="submit" class="btn btn-primary">Create Activity</button>
        </form>
    </div>
    <div class="col-6">
        <h5>Registered students</h5>
        <div>
            <table th:if="${pageOfStudents.size>0}" class="table table-hover">
                <th><a th:href="@{'/students/page/'+${currentPage}+'/size/'+${pageOfStudents.size}+'/sort/id/direction/'+${sortDirection}}+'/'+${courseId}">Id</a></th>
                <th><a th:href="@{'/students/page/'+${currentPage}+'/size/'+${pageOfStudents.size}+'/sort/name/direction/'+${sortDirection}+'/'+${courseId}">Name</a></th>
                <th>Faculty number</th>
                <th></th>
                <th></th>
                <tr th:each="student : ${pageOfStudents.content}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.fn}"></td>
                    <td><a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger"
                           th:href="@{'/students/delete/'+${student.id}}">Delete</a></td>
                </tr>
            </table>
            <span th:if="${pageOfStudents.totalPages > 1}"
                  th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/students/page/{page}/size/{size}(page=${pageNumber}, size=${pageOfStudents.size})}"
               th:text="${pageNumber}">
               </a>
        </span>
        </div>
    </div>
</div>

</body>
</html>