<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
    <style>
            div.scroll {
                margin:4px, 4px;
                padding:4px;
                background-color: green;
                width: 500px;
                height: 110px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
            }
        </style>
</head>
<body>
<header th:replace="fragments :: header-lecturer"></header>
<h3 class="col-6" th:text="${course.name}"></h3>
<div class="row">
    <div class="col-6">
        <h5 class="col-6">Activities</h5>
        <div class="col-6" th:replace="fragments :: activities-list"></div>
        <form action="#" th:action="@{'/courses/'+${courseId}+'/activities/create-activity'}" method="get">
            <button type="submit" class="btn btn-primary col-6">Create Activity</button>
        </form>
    </div>
    <div class="col-6">
        <h6>Registered students</h6>
        <div class="scroll">
            <table th:if="${students.size>0}" class="table table-hover">
                <th>Name</th>
                <th>Faculty number</th>
                <th>Registered</th>
                <th></th>
                <tr th:each="student : ${students}">
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.fn}"></td>
                    <td th:text="${student.isRegistered}"></td>
                    <td><a class="btn btn-success" th:href="@{'/courses/'+${courseId}+'/students/'+${student.id}+'/assign'}">Add student</a></td>
                    <td><a class="btn btn-danger" th:href="@{'/courses/'+${courseId}+'/students/'+${student.id}+'/remove'}">Remove student</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>