<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header-all"></header>
    <div style="display: flex; flex-direction: row;">
        <div class="col-3">
            <header th:replace="fragments :: header-lecturer" style="width: 100%;">
            </header>
        </div>
        <div class="container" style="margin: auto; display: flex; align-items: center;">
            <div class="col width:80%">
                <div style="width: 100%;">
                    <div class="container col-9" >
                        <form action="#" th:action="@{/courses/create}" th:object="${course}" method="post" style="background-color:#CBC3E3 !important; color:purple; padding: 20px; border-radius: 25px;box-shadow: 10px 10px 5px grey;">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
                                    <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Course</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
