<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header-admin"></header>
<h4>Edit the Lecturer</h4>
<div class="col-6">
    <form action="#" th:action="@{/lecturers/update/{id}(id=${lecturer.id})}" th:object="${lecturer}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>
        <button type="submit" class="btn btn-primary">Update Lecturer</button>
    </form>
</div>
</body>
</html>
