h2
{
/*white-space: nowrap !important;*/
}

.custom-name
{
white-space: nowrap !important;
}

.custom-button {
border: 2px solid purple !important;
color: white !important;
background-color: purple;
margin-bottom:10px;
}

.custom-button:hover {
background-color: #bf80ff;
color: white !important;
border: 2px solid #bf80ff !important;
}

.hello-message
{
margin-top:5px;
}

body {
background: linear-gradient(to right, #ffc0cb, #e6e6fa, #add8e6) !important;
}


.welcome-message
{
font-size: 50px !important;
color: purple !important;
}

.navbar .navbar-nav {
display: flex !important;
flex-direction: row !important;
justify-content: center !important;
}

.navbar a {
color: purple;
font-weight:bold;
}

.light-purple-text {
color: purple;
}

.nav-link:hover {
background-color: white;
border-radius: 10px;
display: block;
width: 170%;
margin-right: 30px;
margin-left:-30px;
color:#bf80ff;
}

.nav-link:active {
background-color: white;
border-radius: 5px;
display: block;
width: 170%;
margin-right: 30px;
margin-left:-30px;
}

.main-top
{
border-bottom: 2px solid purple;
}

.purple-table {
background-color:linear-gradient(to right, lightblue, #CBC3E3)!important;
color: purple;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px !important;
    margin-right: auto;
    margin-left: auto;
}

.col-6
{
padding-left:0px !important;
}

.col-3 {
    margin-right: 10px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.col-9
{
margin-right: 50px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
}