<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header-lecturer"></header>
<div class="col-6">
    <form action="#" th:action="@{'/courses/activities/'+${activityId}+'/exams'}" th:object="${exam}" method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="openFrom">Open from</label>
                <input class="form-control" type="date" th:field="*{openFrom}" id="openFrom">
                <span class="text-danger" th:if="${#fields.hasErrors('openFrom')}"
                      th:errors="*{openFrom}">Open From Error</span>
            </div>
            <div class="form-group">
                <label for="openTo">Open to</label>
                <input class="form-control" type="date" th:field="*{openTo}" id="openTo">
                <span class="text-danger" th:if="${#fields.hasErrors('openTo')}"
                      th:errors="*{openTo}">Open To Error</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create Exam</button>
    </form>
</div>
</body>
</html>
