<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header-all"></header>
<div style="display: flex; flex-direction: row;">
    <div class="col-3">
        <header th:replace="fragments :: header-student" style="width: 100%;"></header>
    </div>
    <div class="container" style="margin: auto; display: flex; align-items: center;">
        <div class="col width:80%">
            <div style="width: 100%;">
                <div class="col-9">
                    <h5 th:if="${examTimeMsg != null}" th:text="${examTimeMsg}"></h5>
                    <h5 th:if="${grade != null}" th:text="'Your grade is '+${grade}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
