<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header-student"></header>
<div class="col-6">
    <form action="#" th:action="@{'/courses/exams/'+${examId}+'/create-question'}" th:object="${exam}"
          method="post">
        <div class="form-group" th:each="question : ${exam.questions}">
            <div class="form-group">
<!--                <label>Task Type</label>-->
<!--                <div th:each="questionType : ${T(com.nbu.java.practice.learningprocessorganizer.dao.entity.QuestionType).values()}">-->
<!--                    <div class="custom-control custom-radio custom-control-inline">-->
<!--                        <input type="radio" th:field="*{questionType}" th:value="${questionType}"-->
<!--                               class="custom-control-input">-->
<!--                        <label class="custom-control-label" th:for="${#ids.prev('questionType')}"-->
<!--                               th:text="${questionType}">Question Type</label>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="form-group">
                <label th:text="${question.question}">Question</label>
            </div>
<!--            <div class="form-group">-->
<!--                <label for="answers">Answers</label>-->
<!--                <input class="form-control" type="text" th:field="*{answers}" placeholder="Answers" id="answers">-->
<!--                <span class="text-danger" th:if="${#fields.hasErrors('answers')}"-->
<!--                      th:errors="*{answers}">Answers Error</span>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="correctAnswer">Correct Answer</label>-->
<!--                <input class="form-control" type="text" th:field="*{correctAnswer}" placeholder="Answers"-->
<!--                       id="correctAnswer">-->
<!--                <span class="text-danger" th:if="${#fields.hasErrors('correctAnswer')}" th:errors="*{correctAnswer}">Answers Error</span>-->
<!--            </div>-->
        </div>
    </form>
    <form action="#" th:action="@{'/courses/exams/'+${examId}+'/publish'}" th:method="post">
        <button type="submit" class="btn btn-primary">Publish Exam</button>
    </form>
</div>
</body>
</html>
