<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header-all"></header>
<div style="display: flex; flex-direction: row;">
    <div class="col-3">
        <header th:replace="fragments :: header-student" style="width: 100%;"></header>
    </div>
    <div class="container" style="margin: auto; display: flex; align-items: center;">
        <div class="col width:80%">
            <div style="width: 100%;">
                <div class="col-9">
                    <form action="#" th:action="@{'/courses/exams/'+${examId}+'/'+${attemptId}+'/'+${question.id}+'/make-attempt/'+${questionIdx}}" th:object="${result}" method="post">
                        <div class="form-group">
                            <div class="form-group">
                                <label th:text="${question.question}"></label>
                                <div th:each="answer : ${question.answers}">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" th:field="*{selectedAnswer}" th:value="${answer.value}" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${#ids.prev('selectedAnswer')}" th:text="${answer.value}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Next question</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
